<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- this is the main content of the resume body-->

<main class="main">

    <div class="logo">
      <img src="image.png">
    </div>

    <div class="header">
    </div>
   
    <div class="sidenav">
      <div class="icon">
        <div class="icon-bar"></div> <div class="icon-bar"></div> <div class="icon-bar"></div>
      </div>
      <ul class="nav-menu">
        <li class="nav-item-home">
          <a href="/" class="nav-link"><img src="home.svg" alt=""/></a>
        </li>
        <li class="nav-item">
          <a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">resume</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">contact</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">about</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">about</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">about</a>
        </li>
  
      </ul>
    </div>
  </main>

