@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:host {
    --off-white: oklch(96.76% 0.039 99.53);
    --crazy-white: oklch(100% 0 102.07);
    --center-pane:oklch(93.29% 0.0514 71.85);
    --left-pane:oklch(90.67% 0.0514 94.24);
    --right-pane:oklch(90.67% 0.0514 94.24);  




}

:host.main-content-animation{
    animation: appearSlow 2s ease-in-out 0s 1 normal none;
}
*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
  }

.site-body {
    padding-top:100px; /*add buffer to account for the header and the image */
    height: 100%;
    background-color: var(--off-white);
    text-align:center;
    display: flex;
  
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: left;
}

.main-content-body {
    width: 70%;
    background-color: var(--center-pane);
    margin: 1px auto;
}




.left-pane {
    width: 10%;
    background-color: var(--left-pane);
    margin: 1px auto;
    /* border-radius: 25px; */

}
.right-pane {
    width: 20%;
    background-color: var(--right-pane);
    margin: 1px auto;
    /* border-radius: 25px; */

}

@media screen and (max-width: 1500px) {
    .site-body{
        flex-flow: column;
    }

    .left-pane, .right-pane {
        display: none;
    }

    .main-content-body {
        width: 80%;
        margin: 1px auto;
    }

}

@keyframes appearSlow {
    from {
       opacity: 0
    }

    to {
        opacity: 100;
    }
    
}