.resume{
    background: rgb(202, 243, 173);
    animation: appearSlow 1s ease-in-out 0s 1 normal none;
    text-align: left;
    padding:10px;

}


@keyframes appearSlow {
    from {
        background-color: transparent;
        color: transparent;
    }
    to {
        color: black;
    }
    
}