.resume{
    background: rgb(247, 249, 246);
    /* animation: appearSlow 1s ease-in-out 0s 1 normal none; */
    text-align: left;
    padding:0px 5px;
    color: transparent;
    height: 100%;

}


div .visible{
    /* transition: 2s left; */
    --animation-order: 1;
    padding: 10px;
    border-radius: 25px;
    margin-bottom:10px;
    background-color: bisque ;
    animation: calc(var(--animation-order) * 300ms) appearSlow  ease-in-out 0s 1 normal none;
    color:black
}



/* @keyframes appearSlow {
    0% {
        opacity: 0;
        transform: translateX(100px);
      } to {
        opacity: 1;
        transform: translateX(0);
      }
    
} */
@keyframes appearSlow {
    0% {
      opacity: 0;
      transform:  scale(0.3) translateY(-10px);
    }

    100% {
      opacity: 1;
    }
}