.contact{
    background: rgb(185, 195, 194);
    height: 100%;
    width: 100%;
    animation: appearSlow 2s ease-in-out 0s 1 normal none;
}
@keyframes appearSlow {
    from {
       opacity: 0
    }

    to {
        opacity: 100;
    }
    
}